.card-container {
    position: relative;
    width: 300px;
    height: 200px;
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.2s ease-out;
}

.card-container:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
    cursor: pointer;
}


.card-container img {
    width: 100%;
}

.name-genre-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: 500;
    z-index: 999;
    color: rgba(255, 255, 255, 0.63);
}